/* Header part */

body {
    background-image: url('../images/bg2.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}

#brand {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-top: -4px;
}

li:hover {
    background-color: cadetblue;
}

label.error {
    color: red;
}


/* End of Header part */


/* Profile part */

.brand_name {
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=email],
input[type=password] {
    background-color: rgb(240, 240, 240);
}

.profile_container {
    margin: 10% 8% 10% 8%;
    background-color: cadetblue;
    opacity: 5;
    padding: 5%;
}

#profile-usertitle-name {
    padding-left: 70px;
    font-weight: bolder;
}

#avatar_img {
    border-radius: 100%;
    width: 230px;
    height: 200px;
}


/* End of Profile part */


/* Register part */

#send-otp-btn-div,
#varify_otp_div,
#varify_otp_btn_div {
    margin-top: 25px;
    margin-left: -27px;
}

#varify_otp_div {
    margin-left: 27px;
}

#register_btn_div,
#login_btn_div,
#change_password_btn_div {
    text-align: center;
}


/* End of Register part */


/* Login part */

.form-container {
    background-color: cadetblue;
    margin: 10%;
}

#err {
    color: red;
    text-align: center;
    background-color: orange;
    font-weight: bold;
}


/* End of Login part */


/* Welcome part */

#dashboard {
    height: 500px;
    width: 800px;
    margin-top: 90px;
    border-radius: 20px;
    margin-left: 150px;
    opacity: 80%;
}

.container-welcome {
    position: relative;
    left: 8%;
    margin-top: 6%;
    padding: 2% 8% 2% 8%;
}

#welcome_message {
    padding: 4px;
    color: rgb(0, 0, 0);
    background-color: cadetblue;
    text-align: center;
    border: thick solid rgb(182, 184, 187);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 50px;
    font-size: 50px;
    font-weight: bolder;
}


/* End of Welcome part */


/* About us Page */

.about-container {
    margin: 10%;
    background-color: rgb(205, 246, 237);
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion {
    background-color: rgb(238, 238, 238);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 1px solid black;
    margin-bottom: 5px;
}

.panel p {
    padding: 5px 2px 2px 5px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.about-container .active,
.accordion:hover {
    background-color: #ccc;
}


/* End of About us page */


/* Footer part */

footer {
    background-color: black;
    color: wheat;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* End of Footer part */


/* Making responsive using mediaquery relative*/

@media only screen and (min-width:2000px) {
    a.brand_name {
        font-size: 40px;
        margin: 5px;
    }
    #brand {
        height: 60px;
        width: 60px;
        margin-top: -15px;
    }
    .navbar-nav li {
        padding-top: 8px;
    }
    .header {
        font-size: 30px;
    }
    .container-fluid {
        padding: 15px;
    }
    .form-container {
        background-color: cadetblue;
        height: 500%;
        width: 500%;
        margin: 200%;
    }
}

@media only screen and (max-width:300px) {
    a.brand_name,
    span.caption-subject {
        display: none;
    }
}

@media only screen and (max-width:992px) {
    span.caption-subject {
        display: none;
    }
}